<form>
    <input type="text" name="username" [(ngModel)]="username" placeholder="username" ><br>
    <input type="email" name="email" [(ngModel)]="email" placeholder="email" ><br>
    <textarea placeholder="address" 
    cols="30" rows="10" name="address" [(ngModel)]="address" >

    </textarea><br>

    <p>
        <button (click)="onAddUser()" >Save Data</button> | 
        <button type="reset" >Reset</button>
    </p>
</form>

<br>

<table>
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList; let i=index">
            <td> {{i}} </td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>
                <button (click)="onDeleteUser(i)" >Delete</button>
            </td>

        </tr>
    </tbody>
</table>