<p class="para1" appHighlight>testing the directive</p>
<div class="container">
    <div class="product" appHighlight>
        <p>Nike Shoe | L235R3534N</p>
    </div>
    <br>
    <button class="btn-primary" appBtnHover>Add to Cart</button>
</div>
<!-- <div class="container">
    <h1>Angular Blog Site</h1>
    <button class="btn btn-primary"
    routerLink="/" routerLinkActive="active" >Home</button>
    <button class="btn btn-primary mx-2"
    routerLink="/posts"
    [queryParams]="{page:1, orderBy:'title'}"
    routerLinkActive="active" >Posts List</button>

    <button class="btn btn-info" (click)="onSubmit()" >Submit</button>
    <router-outlet></router-outlet>
</div> -->
<div class="container">
    <!-- <app-signals></app-signals> -->
    <!-- <app-html-to-pdf></app-html-to-pdf> -->
</div>
