<p class="para1" appHighlight>testing the directive</p>
<div class="container">
    <div class="product" appHighlight>
        <p>Nike Shoe | L235R3534N</p>
    </div>
    <br>
    <button class="btn-primary" appBtnHover>Add to Cart</button>
</div>
<div class="container">
    <button class="btn-primary" appBtnHover (click)="showPara = !showPara">
        {{showPara ? 'Hide':'Show'}} Para
    </button>

    <!-- working of ngIf 
    https://www.youtube.com/watch?v=oTo7w9Ocnp8&list=PL1BztTYDF-QNlGo5-g65Xj1mINHYk_FM9&index=56&pp=iAQB
    -->
    <!-- <ng-template [ngIf]="showPara" [ngIfElse]="heading"> 
        under the hood. remove *ngIf -->
        <div class="para"  *ngIf="showPara; else heading">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, velit.</p>
        </div>
    <!-- </ng-template> -->
    <ng-template #heading>
        <h2>Lorem ipsum dolor sit.</h2>
    </ng-template>


    <p *appMyIf="showPara" >
        Implemented my own ngIf
    </p>
</div>
<!-- <div class="container">
    <h1>Angular Blog Site</h1>
    <button class="btn btn-primary"
    routerLink="/" routerLinkActive="active" >Home</button>
    <button class="btn btn-primary mx-2"
    routerLink="/posts"
    [queryParams]="{page:1, orderBy:'title'}"
    routerLinkActive="active" >Posts List</button>

    <button class="btn btn-info" (click)="onSubmit()" >Submit</button>
    <router-outlet></router-outlet>
</div> -->
<div class="container">
    <!-- <app-signals></app-signals> -->
    <!-- <app-html-to-pdf></app-html-to-pdf> -->
</div>